body{
    position: relative;
    counter-reset: section;
}
h1:nth-child(2n+1){
    color: aquamarine;
}
h1:nth-child(2){
    color: brown;
}
input:focus{
    background-color: chartreuse;
    border: none;
    color: darkslateblue;
    font-size: large;
}
button{
    background-image: linear-gradient(to right, rgb(189, 87, 87) , rgb(104, 104, 7),rgb(216, 77, 77));
    width: 100px;
    height: 50px;
    border: none;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    color: white;
}
button:hover{
    background-image: linear-gradient(to right, rgb(255, 0, 0) , rgb(255, 255, 0),rgb(255, 0, 0));
    color: black;
    cursor: pointer;
}
a:link {
    color: red;
}
a:visited {
    color: green;
}
a:active {
    color: blue;
}
a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}
li{
    list-style: none;
}

p.intro::first-letter {
    color: #ff0000;
    font-size: 200%;
} 
a:hover::before{
    content: '';
    border-top: 20px solid #fb0101;
    border-bottom: none;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}
p::before{
    counter-increment: section;
    content: "Crush " counter(section) " : ";
}
p::after{
    content: "❤️";
}

/* Position Doc */
div{
    width: 100px;
    height: 100px;
    margin: 10px 0px;
    background-color: grey;
    font-size: 20px;
    text-align: center;
    color: honeydew;
}
.sixth{
    position: fixed;
    left: 90px;
}
.second{
    position: relative;
    background-color: hotpink;
    left: 100px;
    top: 0px;
}
.third{
    background-color: maroon;
    position: absolute;
    left: 100px;
}